*.mp4
*.zip
android/build/
android/app/build/
android/.gradle/
Activity_Timeline 1.png
Add_Camera.png
Camera-img.png
Component 16 (1).png
Configure_Zones.png
Dashboard_Icons.png
loading screen (1).png
Loading_screen.png
Monitor_Alerts.png
obex blue.png
obex white.png
Obex_Shield.png
obex-logo-joined.png
obexedge-build.zip
Phone_Alerts 1.png
sign in (2).png
sign up (1).png
Video 1.mp4
Video2.mp4
video3.mp4
Video5.mp4
weapon.mp4
WeaponDetectionVideo.mp4